@model ToDoList.Models.Item;

@{
  Layout = "_Layout";
}

<div class="container-fluid">
  <h3 class="pt-5 pb-3">Add a new task</h3>
  <div class="container content">
    @using (Html.BeginForm())
    {
      @Html.LabelFor(model => model.Description)
      @Html.TextBoxFor(model => model.Description)

      @Html.Label("Select Category")
      @Html.DropDownList("CategoryId")

      <input type="submit" class="btn btn-block btn-primary" value="Add new task" />
    }

    <p>@Html.ActionLink("Show all items", "Index")</p>
  </div>
</div>
